@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: 54.8% 0.067 77.1deg;
  --green: 51.94% 0.098 161.93deg;
  --red: 58.83% 0.207 26.38deg;

  --accent-1: oklch(var(--gold));
  --accent-2: oklch(var(--gold) / 0.3);
  --accent-3: oklch(var(--gold) / 0.5);

  --background-1: rgb(18, 18, 18);
  --background-2: rgb(23, 23, 23);
  --background-3: rgb(33, 33, 33);

  --border-1: rgb(46, 46, 46);
  --border-2: rgb(69, 69, 69);

  --foreground-1: rgb(250, 250, 250);
  --foreground-2: rgb(180, 180, 180);
  --foreground-3: rgb(137, 137, 137);

  --success: oklch(var(--green));
  --warning: oklch(var(--red));
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground-1);
  background: var(--background-1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
